* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
}
body{
     margin-top: 130px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 40px;
  height: 130px;
  z-index: 1000;
}

.logo {
  height: 120px;
 
}

.site-title {
  font-size: 60px;
  
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: cyan;
}
.product-grid{
     width:100%;
     display:flex;
     justify-content:space-evenly;
     height:530px;
     background-color: grey;
}
.product-grid img{
     width:70%;
     height:50%;
      display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-card{
     border:2px solid black;
     width:25%;
     background-color: rgba(19, 119, 101, 0.852);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
  transform: scale(1.25); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}
.product-card h3{
     text-align: center;
     font-size: 25px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.product-card .btn.small {
     
  display: block;
  width: 100%;
  height:10%;
  padding-top:10px;
  border:2px solid black;
  text-align: center;
  text-decoration: none;
  color:white;
  background:rgb(53, 24, 97);
}
.product-card .btn.small:hover{
     background:radial-gradient(rgb(255, 106, 0),rgb(53, 24, 97));
}
.price{
     text-align:center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size:25px;
}
